<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>v9iCSEOf68BfTtSVPxoh9AqdORIKBmZflpLcgtANQ3LpvvS3XQH+it5FRNCBHihFSl+qWBqwr9KK7oZtvr7faMm0uc/wkcXVY8cnA7vVmEAmEDgdLABUUuiSc/4XjjnEQ00VqOxmV/kx/GcQgu7JmHa/suVskeRUL6XmzOz5d15KGV9bAdWePeOsT4qMw82QfPrFdmfzicuUApVIxs3RLu2pDHg7ftFhBP2jQHTkpuH8nFEQSZrFG25y+vF5MfUdnkHCg+V3OCvHCx5saKW0ld91B9XDsEYixO1QeFw2R82tO1pXmBR33TZdfRKDtfpEgYsTDcO0wBmpmw0tP42XYQ==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>rx7XgdSrWhQtflbUdSkPpcGjKTHN7h0dIV6UZGOEAjet0Qu1RDMuYGaxFl82R429</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>