<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
	<connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
  <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
   xmlns="http://www.w3.org/2001/04/xmlenc#">
   <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
   <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
    <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
     <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
     <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
      <KeyName>Rsa Key</KeyName>
     </KeyInfo>
     <CipherData>
      <CipherValue>oJZI0StdNV6NQY1AZQZGod1TkTgILf9YuOVJIMBai/gmNr/3cR5JiI/RvPe1lLL2glwUHau/XiAHlA9t1Z8F2d9+/Zi429mcfAuE3saj00Y1w1tqSxmqSHj0UK17i/FiTbZKUCEP5aoFecd4oo7DBO+GXfYZPdLY7TVL9reDM+WM6JBvcEVCxJ9LuUFce4BdQEcSSby4OwzoCCrKe8d8hqHI6RlDcrTTKlaWaR24mAukDOqPOPwXda6sjHx+VaSsUodeNLdt6+p4fYF9xF4E2naOKdBiCOgdTZlesBcq7bD7y5qMGNSNUFZvnuxHOckSlM6PnrqfZeO4lv47fw1nxQ==</CipherValue>
     </CipherData>
    </EncryptedKey>
   </KeyInfo>
   <CipherData>
    <CipherValue>vm8b3EdzlChFfeN5Qa8VBTbs/dBazyB1wa0WsxSIKSRI7UuTwCgTc7CHM2d95NqdL3XQ7fcXq9KUWOBG4WJX4fSOqPvMmOmxa8FnvGytMN/CJYhp6GhCi/7KjrtmivKFEYlUYVtw9SGM3txyKm4I09WSBb2iap+GRutnowGDA9Hz+pLelJSj8S2lmJNKwoxoYx3ft6eKrw+bASq7JOTYzBH0loLg+fI48KElfTQY6kK6c08SdAlFxe1iJQkhvCOwCflXSmy0MoxXz1URQi5ekNfnc+SnUu4udBh+XUPMgKebeqSpSjeSpgKKVWH01apy</CipherValue>
   </CipherData>
  </EncryptedData>
 </connectionStrings>
</configuration>